@import "../components/usersListComponent/usersList/UsersList";
@import "../components/Home/Home";
@import "../components/Navigation/Navigation";

@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

body {
  background-color: #E5E5E5;
}

p::selection,
a::selection {
  background-color: black;
  color: white;
}

background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}